
#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

#dog_Cat_navigationbutton {
    background-color: lightgray;
    color: darkgrey;
    width: 200px;
    font-size: 23px;
    border-radius: 10px;
}